<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="origin">Take me from</label>
		<div class="col-sm-6">
			<input
				id="origin"
				class="form-control"
				type="text"
				google-autocomplete
				marker="origin"
				ng-model="locations.origin"
				ng-model-options="{ updateOn: 'blur' }"
				placeholder="here"/>
		</div>
	</div>
	<div class="form-group"
		 ng-show="locations.origin">
		<label class="col-sm-2 control-label" for="destination">To</label>
		<div class="col-sm-6">
			<input
				id="destination"
				class="form-control"
				type="text"
				ng-model="locations.destination"
				google-autocomplete
				marker="destination"
				placeholder="here"/>
		</div>
	</div>
</form>

<google-maps></google-maps>